{% load static %}

<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'main/style.css' %}">
  {% block extra_css %}{% endblock %}
  <title>{% block title%}xeVer{% endblock %}</title>
</head>

<body>
  <header>
    <div class="container">
      <div class="header-content">
        <img src="{% static 'main/images/logo.svg' %}">

        <nav>
          <a href="#">ГЛАВНАЯ</a>
          <a href="#">УСЛУГИ</a>
          <a href="#">ОБО МНЕ</a>
          <a href="#">КОНТАКТЫ</a>
          <a href="#">РАБОТЫ</a>
        </nav>
      </div>
    </div>
  </header>

  {% block content %}{% endblock %}

  <footer>
    <div class="container">
      <div class="footer-content">

      </div>
    </div>
  </footer>
</body>

</html>