{% extends 'main/base.html' %}

{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'main/index.css' %}">
{% endblock %}

{% block title%}xeVer{% endblock %}

{% block content %}
<main>
  <div class="container">
    <div class="main-content">
      <div class="main-text-block-left">
        <div class="main-title-left">
          <h1 class="text-title">ВИДЕО</h1>
          <p class="text-subtitle">
            Монтаж, идея, динамика<br>
            Всё под задачу бренда
          </p>
        </div>

        <h1 class="left-main-text">МОНТАЖ</h1>
      </div>

      <div class="main-center-rext">
        <p>
          X<br>
          E<br>
          V<br>
          E<br>
          R
        </p>
      </div>

      <div class="main-text-block">
        <h1 class="right-main-text">РЕКЛАМА</h1>

        <div class="main-title">
          <h1 class="text-title">ЭДИТЫ</h1>
          <p class="text-subtitle">
            Делаю рекламные видео,<br>
            которые работают
          </p>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}