@import url("https://fonts.googleapis.com/css2?family=Onest:wght@100..900&display=swap");

:root {
  --color-black: #0d0f0f;
  --color-gray: #181919;
  --color-green: #3bf7b8;
  --color-light-gray: #c4d0cc;
  --color-white: #dfe6e4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: var(--color-gray);
  font-family: "Onest", sans-serif;
  font-size: 22px;
  color: var(--color-white);
}

h1 {
  font-size: 100px;
  color: var(--color-white);
}
h2 {
  font-size: 48px;
  color: var(--color-white);
}

button {
  background: none;
  cursor: pointer;
}

.container {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
  padding: 0 37px;
}

/* HEADER */

header {
  width: 100%;
  margin-top: 25px;
}
.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  font-size: 18px;
  font-weight: 300;
  margin-right: 22px;
}
nav a:last-child {
  margin-right: 0;
}
nav a:hover {
  color: var(--color-green);
}

.burger-menu {
  display: none;
}

/* FOOTER */

footer {
  background-color: var(--color-black);
  padding: 45px 0;
}
.footer-content {
  display: flex;
  flex-wrap: wrap;
}

.footer-logo {
  font-size: 135px;
  font-weight: 700;
  line-height: 90%;
  color: var(--color-green);
  margin-right: 120px;
}

.footer-nav .f-nav-btns:first-child {
  margin-top: 55px;
  margin-bottom: 45px;
}

.f-nav-btns p {
  font-size: 22px;
  font-weight: 500;
  color: var(--color-white);
  margin-bottom: 10px;
}
.f-nav {
  display: flex;
}
.f-nav a {
  margin-right: 30px;
  font-size: 22px;
  font-weight: 400;
  color: var(--color-light-gray);
}
.f-nav a:last-child {
  margin-right: 0;
}
.f-nav a:hover {
  color: var(--color-green);
}
